*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Raleway',sans-serif;
}
.all{
	width: 100%;
    margin: 0;
    display: block;
    float: left;
    overflow: hidden;
}
.m{
	width: 100%;
	display: block;
	float: left;
}
.top{
	background-color: #f4f4f4;
}
.content{
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menuizquierda{
	display: flex;
	align-items: center;
}