/* General */
*{
	margin: 0;
	padding: 0;
}

html{
	height:100%;
}

body{
	font-family: 'Raleway',sans-serif;
	font-size: 14apx;
	height:100%;
}
.logardo{
	max-height: 50px;
    align-self: center;
}
.all{
	height:100%;
	width: 100%;
    margin: 0;
    display: block;
}
.m{
	width: 100%;
	display: block;
	float: left;
}
.top{
	background-color: #f4f4f4;
	margin-bottom: 20px;
    border: 1px solid transparent;
}
.home2,.iz,.data2,.publicarr,.botones,.espaciosparaquequedelindo{
	padding-right: 15px;
    padding-left: 15px;
}
.home{
	width:100%;
	height:94%;
	margin-top: 15px;
    margin-right: auto;
	margin-left: auto;
}
h5{
	font-size: 14px;
	font-weight: 500;
}
a{
	color: #337ab7;
    text-decoration: none;
}
.boton{
	background-color: #fff;
	border-color: #ccc;
	border: 1px solid transparent;
}
.cajitas{
	height:100%;
	width:100%;
	clear:both;
	display:flex;
	padding-top: 15px;
	flex-direction:row;
}
.uwu-posteo{
	width: 100%;
	display: flex;
	flex-direction: column;
}
/* General */

/* Header*/
header{
	height: 10%;
}
.content{
	height: 50px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}
.menuizquierda{
	display: flex;
	align-items: center;
}
.menuderecha{
	display: flex;
	align-items: center;
}
/* Header*/

/* Barra izquierda */
.bar-iz {
	margin-left:50px;
	width:20%;
    padding-left: 15px;
}
.data{
	height: 44px;
	padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
}
.data2{
	padding: 5px;
}
.imagen{
	float: left;
}
.editinfo{
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
	border-radius: 3px;
	color: #333;
    background-color: #fff;
    border-color: #ccc;	
}

/* Publicar Estado */
.panel{
	margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
	border-color: #ddd;	
}
.panel-header{
	background-color: #f5f5f5;
	border-color: #ddd;
	padding: 10px 15px;
    border-bottom: 1px solid transparent;
}
.panel-body{
	padding: 15px;
}
.texto-public{
	margin-bottom: 15px;
	height: auto;
}
.textar{
	height: auto;
	display: block;
    width: 100%;
    font-size: 14px;
    line-height: 1.5;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.botonPublicar{
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 550;
	color: rgb(255, 255, 255);
    background-color: #337ab7;
	border-color: #337ab7;
	width: 35%;
	border-radius:6px;
	height: 28px;
}
.publicarr{
	display:flex;
	justify-content: flex-end;
}
.uwu {
	padding-right: 15px;
	padding-left: 17.5%;
	width:35%;
	height: 285px;
 }
 /* Publicar Estado*/

 /* Posteo */
 .posteo{
	padding: 15px;
	margin: 15px 0 40px 10%;
	width: 50%;
	border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-color: #ddd;
	background-color: #f5f5f5;
}
 .posteo-titulo{
	padding-top: 9px;
	margin-left: 12.5%;
}
.posteo-body{
	
	padding: 15px;
}
 /* Posteo */
 