*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Raleway',sans-serif;
}
.m{
	width: 100%;
	display: block;
    float: left;
}   
.top{
	background-color: #f4f4f4;
}
.content{
    height: 55px;
	width: 90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.content img{
    width: auto; 
    height: 50px;
}